.column-button{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.input-container{
  margin-top: 5%;
}

.button-container{
  display: -webkit-flex;
  display: flex;

}
@media (min-width: 642px) {
  .button-divider{
    width: 0;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    border-left: 1px solid #378281;
  }
  .button-container{
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
@media (max-width: 641px) {
  .button-divider{
    width: 90%;
    height: 0;
    margin: 5% 30px 5% 20px;
    border-radius: 5px;
    border-bottom: 1px solid #378281;
  }
  .button-container{
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
