<div *ngIf="editable" class="availability-container">
  <div class="availability-day-container" *ngFor="let day of data; let i = index">
    <div class="availability-day-name">{{getDayName(i)}}</div>
    <div class="availability-day-times">
      <div *ngFor="let item of day; let j = index" class="availability-select-container" [ngClass]="{'availability-select-container-error' : errorIndex[i][j]}">
        <select class="availability-select" (change)="onChangeSelect($event, i, j, true)">
          <option *ngFor="let hour of hours" [value]="hour" [selected]="hour == item.from">{{hour}}</option>
        </select>
        <div class="availability-select-divider"> - </div>
        <select class="availability-select" (change)="onChangeSelect($event, i, j, false)">
          <option *ngFor="let hour of hours" [value]="hour" [selected]="hour == item.to">{{hour}}</option>
        </select>
        <div class="availability-button availability-remove-button" (click)="onClickRemove(i, j)">-</div>
      </div>
      <div class="availability-add-button availability-button" (click)="onClickAddButton(i)">+</div>
    </div>
  </div>
  <div class="availability-bottom-border" [ngClass]="{'availability-bottom-border-ok' : checkError(), 'availability-bottom-border-error': !checkError()}"></div>
</div>
<div *ngIf="!editable" class="availability-table-container">
  <div class="availability-column-container" *ngFor="let day of data; let i = index">
    <div class="availability-day-name availability-column-name">{{getDayName(i)}}</div>
    <div class="availability-day-times availability-row-container">
      <div *ngFor="let item of day">
        {{item.from}}-{{item.to}}
      </div>
    </div>
  </div>
</div>

