.availability-container {
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
  padding: 5px;
  display: -webkit-flex;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  flex-direction: column;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-between;
}

.availability-day-container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.availability-table-container {
  display: -webkit-flex;
  display: flex;
  border-radius: 5px;
  margin: 10px 0;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: flex-start;
  border: 2px solid #F7F7F7;
}

.availability-row-container {
  color: #4d4d4d;
  display: -webkit-flex;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 9pt;
  -webkit-flex-direction: column;
}

.availability-day-times {
  width: calc(100% - 90px);
  overflow-x: auto;
  overflow-y: hidden;
  height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.availability-row-container {
  width: calc(100% - 2px);
  text-align: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.availability-row-container div {
  margin: 3px 1px;
}

.availability-day-name {
  width: 90px;
  padding: 5px 0;
  font-size: 12pt;
  color: #378281;
  text-align: center;
}

.availability-column-name {
  background-color: #F7F7F7;
  width: 100%;
}

.availability-select-error {
  color: #DD4B39;
  border: 1px solid #DD4B39;
}

.availability-select-ok {
  color: #378281;
  border: 1px solid #378281;
}

.availability-select {
  padding: 0 2px;
  border-radius: 2px;
  box-shadow: none;
  background: transparent;
  background-image: none;
  font-size: 11pt;
  text-align: center;
  width: 90px;
  height: 20px;
  margin: 5px;
}

.availability-bottom-border {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.availability-bottom-border-ok {
  border-bottom: 2px solid #378281;
}

.availability-bottom-border-error {
  border-bottom: 2px solid #DD4B39;
}

.availability-select-divider {
  color: #378281;
  margin: 1px 5px 0 0;
  font-size: 16pt;
  font-weight: 500;
}

.availability-select:focus {
  outline: none;
}

.availability-button:hover {
  background-color: #DADADA;
}

@media (max-width: 640px) and (orientation: portrait) {
  .availability-column-name {
    font-size: 11pt;
  }

}

@media (max-width: 640px) and (orientation: portrait) {
  .availability-column-container {
    width: calc(100% / 4);
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .availability-column-container {
    width: calc(100% / 5);
  }
}

@media (min-width: 641px) and (max-width: 960px) and (orientation: portrait) {
  .availability-column-container {
    width: calc(100% / 6);
  }

  .availability-column-name {
    font-size: 11pt;
  }
}

@media (min-width: 641px) and (max-width: 960px) and (orientation: landscape) {
  .availability-column-container {
    width: calc(100% / 7);
  }

  .availability-column-name {
    font-size: 11pt;
  }
}

@media (min-width: 961px) {
  .availability-column-container {
    width: calc(100% / 7);
  }
}

