body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 2000px) {
  .input-container {
    padding: 1% 30% 2% 30%;
  }
}
@media (min-width: 961px) {
  .input-container {
    width: 400px;
    margin: 0 auto;
    padding: 0 0 2% 0;
  }
}

@media (max-width: 960px) {
  .input-container {
    padding: 1% 20% 5% 20%;
  }
}

@media (max-width: 641px) {
  .input-container {
    padding: 2% 5% 5% 5%;
  }
}

.input-container h1 {
  color: #378281;
  text-align: center;
  font-weight: 100;
  font-size: 20pt;
}

body {
  overflow: hidden;
}

::-webkit-input-placeholder { /* Chrome */
  color: #378281;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #378281;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #378281;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: #378281;
  opacity: 1;
}

.input-label {
  margin-right: 50%;
  text-align: left;
  font-size: 10pt;
  color: dimgrey;
}

.input-error {
  color: #FF0000;
  margin-left: 1%;
}

.button-light {
  border: 1px solid #378281;
  background-color: #d0dfdf;
  color: #378281;
}

.button-dark {
  border: 0;
  color: white;
  background-color: #378281;
}

.input-button {
  width: 100%;
  height: 35px;
  margin-top: 4%;
  border-radius: 5px;
  text-align: center;
}

.input-link {
  text-align: center;
  color: #378281;
  text-decoration: none;
  font-size: 10pt;
  padding: 2%;
}

.input-link:hover {
  opacity: 0.7;
}

.input-button:hover {
  opacity: 0.8;
}

.input-picture {

}

.link-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: 45%;
  padding: 2%;
}

.error-message {
  color: #FF0000;
}

.ok-message{
  text-align: center;
  color:#378281;
  width: 100%;
}
textarea:focus, input:focus, select:focus {
  outline: none;
}
.response-message{
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  font-weight: bold;
}

