<div class="data-container">
  <h1 i18n>{{getTitle()}}</h1>
  <input type="button" [value]="getButtonText()"
         class="input-button button-light" [routerLink]="getButtonRouteText()"
         routerLinkActive="active">
  <div class="service-container">
    <div class="service" *ngFor="let item of data;  let i = index">
      <img class="service-button-container" src="./assets/trash.png"
           (click)="onClickDelete(offer ? item.sid : item.rid, i)">
      <div *ngIf="item.bids > 0" class="service-button-container service-message">{{item.bids}}</div>
      <div class="service-all-content"
           [routerLink]="getServiceRouteText(i)"
           routerLinkActive="active">
        <div class="service-picture"><img *ngIf="getImage(i).length > 0" class="service-image" [src]="getImage(i)"></div>
        <div class="service-content">
          <div class="service-title">{{item.title}}</div>
          <div class="service-description">{{item.description}}</div>
          <div class="service-category"><b i18n>Category: </b>{{getCategory(item.category)}}</div>
          <div class="service-location"><b i18n>Location: </b>{{getAddress(item.location)}}</div>
          <div class="service-date" [ngClass]="{'date-expired': isExpired(item.expirydate)}"><b
            *ngIf="!isExpired(item.expirydate)" i18n>Date: </b><b *ngIf="isExpired(item.expirydate)">Expired: </b>{{convertMillisToDate(item.expirydate)}}
          </div>
        </div>
      </div>
    </div>
    <div class="loader" *ngIf="loading">Loading...</div>
  </div>
</div>
