.wall-data-container{
  width: 100%;
  display: block;
  padding: 5%;
}
.wall-data-container h1{
  color:#378281;
  width: 100%;
  text-align: center;
  font-weight: 200;
}
.main-wall-service-picture {
  height: 130px;
  width: 130px;
  margin: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 2px;
  overflow: hidden;
}

.main-wall-service-image {
  height: 134px;
  width: 134px;
  margin-left: -2px;
  margin-top: -2px;
  background-color: #FAFAFA;
  object-fit: cover;
}
.main-wall-service-title {
  color: #378281;
  font-weight: lighter;
  font-size: 18pt;
}
.main-wall-service {
  min-height: 150px;
  width: 90%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border-top: 2px solid #378281;
}

.main-wall-service:hover {
  background-color: #FAFAFA;
}
.main-wall-service-description {
  word-wrap: break-word;
  font-size: 14pt;
  padding-top: 2px;
  padding-bottom: 2px;
}
.main-wall-service-content {
  margin-left: 140px;
  padding: 10px 10px 10px 10px;
  margin-right: 10px;
  margin-top: -150px;
  color: dimgrey;
  font-family: Arial, Helvetica, sans-serif;
}
.main-wall-service-date{
  padding-top: 10px;
}
.main-wall-picture-container {
  width: 100%;
  margin: 5px 0;
  height: auto;
  overflow-x: auto;
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.image-item {
  overflow: hidden;
  width: 140px;
  height: 140px;
  position: relative;
  margin: 5px;
  display: block;
  align-items: center;
  background-color: #EAEAEA;
  border-radius: 26px;
}
.image-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
