<div class="data-container">
  <h1>{{offer ? 'My service offer' : 'My service request'}}</h1>
  <input type="button" value="Add new offer" class="input-button" routerLink="/addrequest" routerLinkActive="active">
  <div class="service-container">
    <div class="service">
      <div class="service-picture">Picture</div>
      <div class="service-content">
        <div class="service-title">Title</div>
        <div class="service-description">Description</div>
        <div class="service-date">2017-07-25, 18:30</div>
      </div>
    </div>
  </div>
</div>
