<div class="input-container" *ngIf="loaded">
  <div class="contact-container">
    <div class="contact-profile-picture">
      <img class="contact-picture-image" [src]="image" >
    </div>
    <div class="contact-stars">
      <div *ngFor="let i of stars">
        <img class="contact-profile-stars" *ngIf="i == 1" src="./assets/star3.png">
        <img class="contact-profile-stars" *ngIf="i == 0" src="./assets/star2.png">
        <img class="contact-profile-stars" *ngIf="i == 2" src="./assets/star1.png">
      </div>
    </div>
    <div class="contact-name">{{user.name}}</div>
    <div class="contact-pnone">{{user.phone}}</div>
    <div class="contact-email">{{user.email}}</div>
    <button class="input-button button-dark" (click)="onClickAddToCOntact()">Add to contact</button>
  </div>
  <div class="service-container">
    <h1>{{data.title}}</h1>
    <div class="detail-description">{{data.description || ''}}</div>
    <div class="detail-location"><b>Location:</b> {{getLocation(data.location)|| ''}}</div>
    <div class="detail-date" *ngIf="!type"><b>Job date:</b> {{data.jobdate || ''}}</div>
    <div class="detail-date"><b>Expiry date:</b> {{convertNumberToDate(data.expirydate) || ''}}</div>
    <button class="input-button button-light" (click)="onBackPressed()">Back</button>
  </div>

</div>
