.detail-description{
  font-size: 14pt;
  font-weight: lighter;
}
.detail-location{
  font-size: 14pt;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  color: #2B6665;
}
.detail-date{
  font-size: 14pt;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #2B6665;
}
@media (min-width: 2000px) {
  .input-container {
    padding: 1% 30% 2% 30%;
  }
}
@media (min-width: 961px) {
  .input-container {
    width: 600px;
    margin: 0 auto;
    padding: 0 0 2% 0;
  }
  .input-button{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
  }
}

