<div class="location-dialog">
  <h3 class="input-label" i18n>Choose your service location</h3>
  <label class="error-message">{{error}}</label>
  <div class="button-container">
    <input type="button" value="Choose" class="input-button button-dark" id="location-location-save-button" (click)="saveLocation()">
  </div>
  <div class="search-box-container" >
    <input class="search-box" id="search-input" placeholder="Choose your location" [value]="position.address">
    <div class="search-box-border"></div>
  </div>
  <div id="location"></div>
</div>

