
.error-message {
  position: absolute;
  margin-top: 20px;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}

.search-box-container {
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.search-box {
  color: #2B6665;
  margin-top: 10px;
  width: calc(100% - 20px);
  padding-left: 10px;
  padding-right: 10px;
  height: 33px;
  border-radius: 5px;
  background-color: #f6f6f6;
  border: none;
}

.search-box-border {
  width: 100%;
  position: absolute;
  left: 0;
  top: 43px;
  border-bottom: 3px solid #378281;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.location-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7;
  background-color: white;
}

.container {
  position: relative;
  padding: 2%;
}

h3 {
  margin-left: 10%;
  margin-right: 10%;
}

.input-label {
  text-align: center;
  color: #378281;
  font-size: 16pt;
}

.input-button {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 1%;
  width: 10%;
}

.button-container {
  width: 100%;
  z-index: 2;
}

#location {
  border: #378281 solid 3px;
  border-radius: 5px;
  margin: 2% 2% 20% 2%;
}

@media (min-width: 961px) {
  .input-button {
    width: 78%;
  }

  .search-box-container {
    width: 80%;
    margin-bottom: 10px;
  }

  .button-container {
    position: absolute;
    margin-top: 8px;
    width: 20%;
    margin-left: 82%;
  }
  .error-message {
    padding-left: 5%;
    padding-right: 2%;
    margin-top: 50px;
  }
  #location {
    margin-top: 25px;
    height: 430px;
  }
}

@media (max-width: 960px) {

  .input-button {
    width: 73%;
  }

  .search-box-container {
    width: 80%
  }

  .button-container {
    position: absolute;
    width: 20%;
    margin-top: 10px;
    margin-left: 83%;
  }

  #location {
    margin-top: 25px;
    height: 400px;
  }

  .error-message {
    padding-left: 5%;
    padding-right: 2%;
    margin-top: 50px;
  }
}

@media (max-width: 641px) {
  .button-container {
    position: absolute;
    margin-top: 390px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .search-box-container {
    width: 96%
  }
  .input-button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }

  #location {
    margin-top: 10px;
    height: 300px;
  }

  .error-message {
    padding-left: 30%;
    margin-top: 370px;
  }
}
