<div class="input_box">
  <h1>Registration</h1>
  <form #userForm="ngForm">
    <div class="input-group">
      <br> <span>Name</span><br>
      <input type="text" id="name" class="form-control" required
             [(ngModel)]="user.name" name="name"/>
    </div>
    <div class="input-group">
      <br><span>Email address</span><br>
      <input type="email" id="email" class="form-control"
             required [(ngModel)]="user.email" name="email"/>
    </div>
    <div class="input-group">
      <br><span>Password</span><br>
      <input type="password" id="password" class="form-control"
             required [(ngModel)]="user.password" name="password"/>
    </div>
    <div class="input-group">
      <br><span>Password verification</span><br>
      <input type="password" id="password-ver" class="form-control" (keyup)="onKey($event)"/>
      <span class="input_error">{{passwordCheck}}</span>
    </div>
    <div class="input-group">
      <br><span>Phone number</span><br>
      <input type="text" id="phone" class="form-control"
             required [(ngModel)]="user.phone" name="phone"/>
    </div>
    <div class="input-group">
      <br><span>Picture</span><br>
      <input type="file" name="pic" accept="image/*" id="picture" class="form-control"
             required [(ngModel)]="user.picture" name="picture"/>
    </div>
    <div class="input-group">
      <br>
      <input type="submit" value="Save" class="btn btn-primary" (click)="newUser()" [disabled]="!valid"/>
      <input type="reset" value="Cancel" class="btn">
    </div>
  </form>
  <span>{{message}}</span>
</div>
