<div class="dialog-background"
     *ngIf="error.length > 0 || message.length > 0 || question.length > 0 || closable.length > 0">
  <div class="dialog-window" [ngClass]="{'dialog-window-height' : closable.length > 100}">
    <div class="dialog-close-background" *ngIf="closable.length > 0" (click)="onClickClose()">
      <div class="dialog-close"></div>
    </div>
    <div class="dialog-window-text" [id]="message ? 'dialog-message' : 'other-message'"
         [ngClass]="{'dialog-window-text-closable' : closable.length > 0}">
      {{error ||message||question||closable}}
    </div>
    <div class="dialog-button-container"
         [ngClass]="{'dialog-window-double-button' : question.length > 0, 'dialog-window-single-button' : question.length == 0}">
      <div *ngIf="question.length > 0" class="dialog-window-question-button dialog-error-button button-light"
           (click)="onClickCancel()">No
      </div>
      <div class="dialog-error-button button-dark"
           [ngClass]="{'dialog-window-question-button' : question.length > 0, 'dialog-window-simple-button' : question.length == 0}"
           (click)="onClickDialogButton()">{{question.length > 0 ? "Yes" :
        message.length > 0 || closable.length > 0 ? 'Ok' : 'Try Again'}}
      </div>
    </div>
  </div>
</div>
