dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 2000px) {
  .dialog-window {
    margin-left: 35%;
    width: 20%;
  }

  .dialog-window-height {
    height: 30%;
  }
}

@media (min-width: 961px) {
  .dialog-window {
    margin-left: 35%;
    width: 20%;
  }

  .dialog-window-height {
    height: 40%;
  }
}

@media (max-width: 960px) {
  .dialog-window {
    width: 40%;
    margin-left: 25%;
  }

  .dialog-window-height {
    height: 55%;
  }
}

@media (max-width: 641px) and (orientation: portrait){
  .dialog-window {
    width: 70%;
    margin-left: 10%;
  }

  .dialog-window-height {
    height: calc(100% - 200px);
  }
}
@media (max-width: 641px) and (orientation: landscape){
  .dialog-window {
    width: 50%;
    margin-left: 20%;
  }

  .dialog-window-height {
    height: calc(100% - 200px);
  }
}

.dialog-button-container {
  display: -webkit-flex;
  display: flex;
  position: relative;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 90%;
  padding: 0 5%;
  left: 0;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.dialog-window-single-button {
  justify-content: center;
}

.dialog-window-double-button {
  justify-content: space-around;
}

.dialog-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: rgba(41, 41, 41, 0.1);
}

.dialog-window {
  background-color: #FAFAFA;
  position: relative;
  border-radius: 2px;
  padding: 5% 5%;
  overflow: hidden;
  max-height: 75%;
  margin-top: 100px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.dialog-window-height {
  text-align: left;
}

.dialog-window-text {
  color: #2B6665;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(90% - 60px);
  word-wrap: break-word;
  font-size: 16pt;
}

.dialog-window-text-closable {
  margin: 30px 0;
}

.dialog-window-message {
  color: #2B6665;
  margin: 5% 0;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 120px);
  word-wrap: break-word;
}

.dialog-window-question-button {
  padding: 7px 5px;
  min-width: 25%;
  font-size: 14pt;
}

.dialog-window-simple-button {
  padding: 10px 5px;
  min-width: 35%;
  width: auto;
  font-size: 14pt;
}

.dialog-error-button {
  cursor: pointer;
  text-align: center;
  border-radius: 5px;

}

.error-button:hover {
  opacity: 0.8;
}

.dialog-close-background {
  float: right;
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 2;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  cursor: pointer;
}

.dialog-close-background:hover {
  background-color: #E5E5E5;
}

.dialog-close {
  background: #378281;
  height: 25px;
  position: relative;
  width: 4px;
  float: right;
  margin-top: 5px;
  margin-right: 16px;
  border-radius: 1px;
  transform: rotate(45deg);
}

.dialog-close:after {
  background: #378281;
  content: "";
  height: 4px;
  left: -10px;
  position: absolute;
  border-radius: 1px;
  top: 10px;
  width: 25px;
}
