<div id="map" [ngClass]="{'hide-map': !mapView}">
</div>
<div [ngClass]="{'hide-map-filter' : showSearch}" class="map-filter" (focusout)="refresh()" *ngIf="mapView">
  <div [ngClass]="{'hide-map-inputs' : showSearch}" class="map-inputs-container">
    <text-input [placeholder]="'Search'" [type]="text" class="map-search" (onKeyEvent)="onKey($event)" [disableValidation]="true"></text-input>
    <div class="map-selector-container">
      <div class="input-group">
        <select-input class="map-select right-padding" [values]="types" (text)="onChangeTypeSelect($event)"
                      [disableValidation]="true"></select-input>
        <select-input class="map-select" [options]="categories" (text)="onChangeCategorySelect($event)"
                      [disableValidation]="true"></select-input>
      </div>
    </div>
    <button class="input-button button-light" (click)="showList()">List View</button>
  </div>
  <div class="close-button" *ngIf="!showSearch" (click)="onClickSearchPanel()">
    <div id="close-icon" ></div>
  </div>
  <div  *ngIf="showSearch"  class="search-button" (click)="onClickSearchPanel()">
  <div id="magnifying-glass" class="map-triangle-container" ></div>
  </div>
</div>
<div class="data-container" *ngIf="!mapView">
  <h1>Services</h1>
  <div class="service-inputs-container">
    <input class="map-search" type="text" placeholder="Search" (keyup)="onKey($event)">
    <div class="service-map-selector-container">
      <div class="service-input-group">
        <select-input class="map-select" [values]="types" (text)="onChangeTypeSelect($event)"
                      [disableValidation]="true"></select-input>
        <select-input class="map-select" [options]="categories" (text)="onChangeCategorySelect($event)"
                      [disableValidation]="true"></select-input>
      </div>
    </div>
    <button class="input-button button-light" (click)="showList()">Map View</button>
  </div>
  <div class="service-container">
    <div class="service" *ngFor="let item of requests" (click)="onClickService(false, item.rid)"
         routerLinkActive="active">
      <div class="service-picture"><img class="service-image" [src]="getPictureUrl(item.image)"></div>
      <div class="service-content">
        <div class="service-title">{{item.title}}</div>
        <div class="service-description">{{item.description}}</div>
        <div class="service-location"><b>Address</b>{{getLocation(item.location)}}</div>
        <div class="service-category"><b>Category:</b>{{getCategory(item.category)}}</div>
        <div class="service-date"><b>Date:</b> {{item.expridate}}</div>
      </div>
    </div>
    <div class="service" *ngFor="let item of offers" (click)="onClickService(true, item.oid)">
      <div class="service-picture"><img class="service-image" [src]="getPictureUrl(item.image)"></div>
      <div class="service-content">
        <div class="service-title">{{item.title}}</div>
        <div class="service-description">{{item.description}}</div>
        <div class="service-location"><b>Address</b>{{getLocation(item.location)}}</div>
        <div class="service-category"><b>Category:</b>{{getCategory(item.category)}}</div>
        <div class="service-date"><b>Date:</b> {{item.expridate}}</div>
      </div>
    </div>
  </div>
</div>
