/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
#map {
  height: 100%;
}

@media (min-width: 961px) {
  .map-filter {
    width: 40%;
  }

  .map-triangle-container {
    width: 5%;
  }

  .map-inputs-container {
    width: 95%;
  }

  .service-container {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;
  }

  .service-inputs-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 960px) {
  .map-filter {
    width: 60%;
  }

  .map-triangle-container {
    width: 7.5%;
    height: 50px;
  }

  .map-inputs-container {
    width: 87.5%;
  }

  .service-container {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;
  }

  .service-inputs-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 641px) {
  .map-filter {
    width: 95%;
  }

  .map-triangle-container {
    width: 10%;
  }

  .map-inputs-container {
    width: 90%;
  }

  .service-container {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
  }

  .service-inputs-container {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
}

.hide-map-filter {
  margin: 0;
  width: 50px;
}

.hide-map-inputs {
  display: none;
}

.map-filter {
  position: absolute;
  margin: 1%;
  padding: 1%;
  left: 0;
  top: 60px;
  min-height: 40px;
  background-color: #378281;
  box-shadow: 1px 1px 2px #9f9f9f;
  border-radius: 2px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.map-search {
  margin: 1%;
  width: 96%;
  border: 0;
  padding: 1%;
  height: 28px;
  background-color: #f6f6f6;
  border-radius: 3px;
  font-size: 14pt;
}

.map-select {
  float: left;
  margin: 0 1% 0 1%;
  width: 48%;
  border-radius: 3px;
}



.map-selector-container {

}
#close-icon {
  background: #FFFFFF;
  height: 30px;
  position: relative;
  width: 4px;
  border-radius: 1px;
  transform: rotate(45deg);
}
#close-icon:after {
  background: #FFFFFF;
  content: "";
  height: 4px;
  left: -13px;
  position: absolute;
  border-radius: 1px;
  top: 13px;
  width: 30px;
}

#magnifying-glass {
  font-size: 2em;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid #FFFFFF;
  position: relative;
  border-radius: 0.35em;
  cursor: pointer;
}

#magnifying-glass::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: #FFFFFF;
  width: 0.35em;
  height: 0.08em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.hide-map {
  visibility: hidden;
  display: none;
}

.input-group {
  height: 40px;
}

.map-triangle-container {
  margin: auto;
}

.input-button {
  margin-top: 0;
  margin-bottom: 2%;
  width: 98%;
  margin-left: 1%
}

/*Service*/

.service {
  min-height: 160px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border-top: 2px solid #378281;
}

.service:hover {
  background-color: #FAFAFA;
}

.service-picture {
  height: 130px;
  width: 130px;
  margin: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 2px;
  overflow: hidden;
}

.service-image {
  height: 134px;
  width: 134px;
  margin-left: -2px;
  margin-top: -2px;
  background-color: #FAFAFA;
  object-fit: cover;
}

h1 {
  text-align: center;
  color: #378281;
}

.service-content {
  margin-left: 140px;
  padding: 10px 10px 10px 10px;
  margin-right: 10px;
  margin-top: -150px;
  color: dimgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.service-title {
  color: #378281;
  font-weight: lighter;
  font-size: 18pt;
}

.service-description {
  word-wrap: break-word;
  font-size: 14pt;
  padding-top: 10px;
  padding-bottom: 10px;
}

.service-date {
}

/*END*/
.service-inputs-container {
  position: relative;
}
