<div class="input-container">
  <form #userForm="ngForm" novalidate>
    <text-input [id]="'current-password-input'" [type]="'password'" (onKey)="currentpassword = $event" [validators]="[emptyValidator, passwordValidator]"
                (onValidationStateChange)="valid[0]=$event"
                [placeholder]="'Current password'"></text-input>
    <text-input [id]="'new-password-input'" [type]="'password'" (onKey)="password = $event" [placeholder]="'New password'"
                [validators]="[emptyValidator, passwordValidator]" (onValidationStateChange)="valid[1]=$event"></text-input>

    <input id="save-button" type="submit" value="Save" class="input-button button-dark" (click)="save()"/>
  </form>
  <div id="error-message" class="response-message error-message">{{error}}</div>
  <div id="ok-message" class="response-message ok-message">{{message}}</div>
</div>

