<div class="input-text-container">

  <input *ngIf="!difficult" [readonly]="readonly" [type]="inputType" [placeholder]="placeholder" [value]="valueText"
         class="input-area" (keyup)="onKeyInput($event)" (change)="onKeyInput($event)"
         (focusout)="focusChange()" [id]="id" (click)="onClickInputBox()" [disabled]="disabled">
  <div *ngIf="difficult" class="input-difficult">
    <input [type]="inputType" [readonly]="readonly" [placeholder]="placeholder" [value]="valueText"
           class="input-area" (keyup)="onKeyInput($event)" (change)="onKeyInput($event)"
           [ngClass]="{'input-date' : (ok || (error && errorMessage.length >= 19)), 'input-error-date': (error && errorMessage.length < 19)}"
           (focusout)="focusChange()" [id]="id" (click)="onClickInputBox()" [disabled]="disabled">
  </div>
  <div *ngIf="!error || disableValidation" class="input-border input-border-ok"></div>
  <div *ngIf="error && !disableValidation" class="input-border input-border-error"></div>
  <div *ngIf="(ok || error) && !disableValidation" class="input-validation">
    <img *ngIf="ok" src="./assets/check_icon.png" class="input-validation input-validation-ok"/>
    <span [ngClass]="{'show' : show}" class="popuptext " id="myPopup">{{errorMessage}}</span>
    <div *ngIf="show" class="popup-background" (click)="show = !show"></div>
    <div *ngIf="error" [ngClass]="{'long-error-message' : errorMessage.length < 19}"
         class="input-validation input-validation-error">
      <span *ngIf="errorMessage.length < 19">{{errorMessage}}</span>
      <img *ngIf="errorMessage.length >= 19" class="input-validation-image" (click)="showInfo()"
           src="./assets/info-icon.png"/></div>
  </div>
</div>
