<div class="input-select-container">

  <select class="input-select" [ngClass]="{'input-select-padding': ok || error}" (focusout)="focusChange()" (click)="onClickInputBox()" (keyup)="onKey($event)"
          (change)="onKey($event)" [disabled]="disabled">
    <option *ngFor="let cat of options; let i = index" [value]="i">{{cat}}</option>
  </select>
  <div *ngIf="!error" class="input-border input-border-ok"></div>
  <div *ngIf="error" class="input-border input-border-error"></div>
  <div *ngIf="ok || error" class="input-validation">
    <img *ngIf="ok" src="/src/images/check_icon.png" class="input-validation input-validation-ok"/>
    <span [ngClass]="{'show' : show}" class="popuptext " id="myPopup">{{errorMessage}}</span>
    <div *ngIf="show" class="popup-background" (click)="show = !show"></div>
    <div *ngIf="error" [ngClass]="{'long-error-message' : errorMessage.length < 19}"
         class="input-validation input-validation-error">
      <span *ngIf="errorMessage.length < 19">{{errorMessage}}</span>
      <img *ngIf="errorMessage.length >= 19" class="input-validation-image" (click)="showInfo()"
           src="/src/images/info-icon.png"/></div>
  </div>
</div>

