<div class="input-container">
  <h1 i18n>Sign in</h1>
  <form novalidate>
    <text-input [type]="'email'" [id]="'email-input'" [placeholder]="'Email'"
                [validators]="[emptyValidator, emailValidator]" (onValidationStateChange)="valid[0]=$event"
                (onKey)="user.email = $event"></text-input>
    <text-input [type]="'password'" [id]="'password-input'" [validators]="[emptyValidator, passwordValidator]"
                (onValidationStateChange)="valid[1]=$event"
                [placeholder]="'Password'" (onKey)="user.password = $event"></text-input>
    <input type="submit" value="Login" class="input-button button-dark" id="login-button" (click)="login()"/>
    <div class="error-message response-message">{{error}}</div>
  </form>
  <p class="input-link" routerLink="/reminder" routerLinkActive="active">Forgot password?</p>

  <div class="social-container" id="gSignInWrapper">
    <input type="submit" value="Login with Facebook" class="social-button button-facebook" (click)="facebookLogin()"/>
    <input id="customBtn" type="submit" value="Login with Google" class="customGPlusSignIn social-button button-google"/>

  </div>
</div>
<div class="registration-container">
  <div class="input-container">
    <p class="input-title" i18n>New to udoo?</p>
    <button class="input-button button-light" routerLink="/registration" routerLinkActive="active" i18n>Create a new
      account
    </button>
  </div>
</div>

