<div class="input-container">
  <h1>{{registration ? 'Registration form' : 'Profile'}}</h1>
  <form #userForm="ngForm">
    <div *ngIf="registration">
      <span class="input-label">Type</span><br>
      <ul>
        <li>
          <label class="input-radio-label" for="personal">Personal</label>
          <input class="input-radio" type="radio" id="personal" name="selector" [value]="user.type === 1"
                 (change)="user.type = 1">
          <div class="input-radio-button"></div>
        </li>
        <li>
          <input class="input-radio" type="radio" id="organization" name="selector" [value]="0 === user.type"
                 (change)="user.type = 0">
          <label class="input-radio-label" for="organization">Organization</label>
          <div class="input-radio-button"></div>
        </li>
      </ul>
    </div>
    <span class="input-label" *ngIf="!user.type">Organization</span>
    <span class="input-label" *ngIf="user.type">Username</span>
    <text-input [type]="'text'" [validators]="[emptyValidator]" [value]="user.name"
                [placeholder]="'Name'" (text)="user.name= $event" (onStateChange)="valid[0] = $event"></text-input>

    <span class="input-label">Email</span><br>
    <text-input [type]="'email'" [validators]="[emptyValidator, emailValidator]" [placeholder]="'Email'"
                [value]="user.email" (text)="user.email = $event" (onStateChange)="valid[1] = $event"></text-input>

    <span class="input-label">Phone number</span><br>
    <text-input [type]="'phone'" [validators]="[emptyValidator, phoneValidator]" [placeholder]="'Phone'"
                [value]="user.phone" (text)="user.phone= $event" (onStateChange)="valid[2] = $event"></text-input>
    <div *ngIf="user.type">
      <span class="input-label">Birth date</span><br>
      <text-input [type]="'date'" [validators]="[emptyValidator, dateValidator]" [placeholder]="'Date'"
                  [value]="user.birthdate" (text)="user.birthdate = $event" (onStateChange)="valid[3] = $event"></text-input>
    </div>
    <div *ngIf="registration">
      <span class="input-label">Password</span><br>
      <text-input [type]="'password'" [validators]="[emptyValidator, passwordValidator]"
                  [placeholder]="'Password'" [value]="''" (text)="user.password = $event" (onStateChange)="valid[4] = $event"></text-input>
      <span class="input-label">Password verification</span><br>
      <text-input [type]="'password'" [validators]="[emptyValidator, passwordValidator]"
                  [placeholder]="'Password verification'" [value]="''" (text)="onKey($event)" (onStateChange)="valid[5] = $event"></text-input>
    </div>
    <span class="input-label">Profile picture</span><br>
    <div class="input-profile-picture-background">
      <div class="upload-picture-loader" *ngIf="loaderVisible"></div>
      <div class="upload-picture-error" *ngIf="pictureLoadError">Upload error!</div>
      <img
        [ngClass]="{'input-profile-picture-image' : (user.picture == null|| user.picture.length == 0 || user.picture === 'null')}"
        [src]="getPictureUrl()">
    </div>
    <div class="picture-button-container">
      <file-input [text]="'Browse'" (value)="onClickBrowse($event)"></file-input>
      <file-input [text]="'Take'" (value)="onClickBrowse($event)"></file-input>
      <input type="button" class="input-file button-light" value="Clear"
             (click)="onClickCancel()"/>
    </div>
    <input type="reset" value="Cancel" class="button-light input-button" routerLink="/map" routerLinkActive="active"
           *ngIf="registration"/>
    <input type="submit" value="Save" class="input-button button-dark" (click)="insertUser()"/>
    <div *ngIf="!registration">
      <input type="reset" value="Change password" class="input-button button-dark" routerLink="/password"
             routerLinkActive="active"/>
    </div>
  </form>
  <div class="ok-message response-message">{{message}}</div>
  <div class="error-message response-message">{{error}}</div>
</div>
