.registration-container{
  padding-left: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.input-button{
  width: 48%;
}
.input-radio{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-bottom: 4%;
  padding-top: 2%;
}
.input-upload{
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.input-upload-picture{

}
.input-radio input{
  margin-left: 2%;
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 3px solid #378281; /* green */
}
.ng-invalid:not(form)  {
  border-bottom: 3px solid #a94442; /* red */
}

