.input-select {
  width: 50%;
  height: 30px;
  border-radius: 2px;
  text-align: center;
  margin: 2%;
}

.input-button {
  margin-left: 10%;
  margin-bottom: 2%;
}

@media (min-width: 961px) {
  .input-button {
    width: 20%;
  }

  .data-container {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  .service-container {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
}


@media (max-width: 960px) {
  .input-button {
    width: 78%;
    height: 40px;
  }

  .service-container {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.input-button {
  margin-left: 11%;
}

@media (max-width: 641px) {
  .input-button {
    height: 50px;
    width: 87%;
    margin-left: 6%;
  }

  .service-container {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

h1 {
  text-align: center;
  color: dimgrey;
}

.data-container {
  padding: 0;
}

.service {
  padding: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  display: -webkit-flex;
  position: relative;
  display: flex;
  margin: 2%;
  -webkit-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
}

.service-picture {
  height: 130px;
  width: 130px;
  margin: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 2px;
  overflow: hidden;
}

.service-image {
  height: 134px;
  width: 134px;
  margin-left: -2px;
  margin-top: -2px;
  background-color: #FAFAFA;
  object-fit: cover;
}

.service-content {
  position: absolute;
  margin-left: 140px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  color: dimgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.service-title {
  color: #378281;
  font-weight: bold;
  font-size: 18pt;
}

.service-description {
  font-size: 16pt;
  padding-top: 15px;
  padding-bottom: 15px;
}
