#swipe-area{
  display: block;
  height: calc(100% - 60px);
  position: absolute;
  margin-top: 60px;
  z-index: 15;
}
.swipe-area-left{
  width: 10px;
}
.swipe-area-right{
  margin-left: 280px;
  width: 20px;
}
.menu-container::-webkit-scrollbar {
  display: none;
}
.menu-container {
  overflow-y: auto;
  margin-right: -14px !important;
  display: -webkit-flex;
  display: flex;
  color: #378281;
  -webkit-flex-direction: column;
  flex-direction: column;
  float: left;
  width: 300px;
  height: calc(100% - 60px);
  background-color: #FFFFFF;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 10;
  top: 60px;
}

.menu-profile {
  padding: 20px;
}

.menu-container-background {
  width: 100%;
  position: absolute;
  height: calc(100% - 60px);
  float: left;
  top: 60px;
  background-color: black;
  opacity: 0.4;
  z-index: 9;
}

.menu-profile-name {
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin: auto;
  font-weight: 100;
}

.login-button {
  padding: 5px 10% 5px 10%;
  text-decoration: none;
  width: 100%;
  height: 35px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 4%;
  border-radius: 5px;
  text-align: center;
}

.login-button:hover {
  opacity: 0.8;
}

.menu-profile-stars-container {
  padding-left: 65px;
  padding-right: 65px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.menu-profile-stars {
  width: 20px;
  height: 20px;
  margin: 2px;
}

.menu-profile-picture {
  margin: 15px auto;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #FAFAFA;
  padding: 5%;
  overflow: hidden;
}

.menu-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.menu-picture-image{
  width: 150px;
  height: 150px;
  margin: -15px 0 0 -15px;
}
.menu-placeholder {
  height: 30px;
}

.map-container {
  height: 100%;
}

.menu-link-image {
  width: 30px;
  height: 30px;
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: middle;
}

.menu-link {
  text-decoration: none;
  color: #378281;
  padding: 5%;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
}

.menu-link:hover {
  background-color: #FAFAFA;
}

@keyframes slide-in {
  0%   {margin-left: -300px;}
  100% {margin-left: 0;}
}
@keyframes slide-out {
  0%   {margin-left: 0; visibility: visible}
  100% {margin-left: -300px; visibility: hidden;}
}
.menu-slide-in{
  visibility: visible;
  -webkit-animation-name: slide-in; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.25s; /* Safari 4.0 - 8.0 */
  animation-name: slide-in;
  animation-duration: 0.25s;
}
.menu-slide-out{
  visibility: hidden;
  -webkit-animation-name: slide-out; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.25s; /* Safari 4.0 - 8.0 */
  animation-name: slide-out;
  animation-duration: 0.25s;
}
