<div class="menu-container-background" *ngIf="visibleMenu == 1" (click)="onClickPlaceHolder()"></div>
<div *ngIf="!disableSwipe" id="swipe-area" [ngClass]="{'swipe-area-right' : visibleMenu == 1, 'swipe-area-left' : visibleMenu == 0 || visibleMenu == -1}" ></div>
<div class="menu-container" [ngClass]="{'menu-slide-in' : visibleMenu == 1, 'menu-slide-out' : visibleMenu == 0, 'hide-menu' : visibleMenu == -1}">
  <div class="menu-profile">
    <div class="menu-profile-picture">
      <img class="menu-profile-image" [ngClass]="{'menu-picture-image' : (login && user.picture != undefined && user.picture.length > 3)}"
           [src]="image">
    </div>
    <div class="menu-profile-name" *ngIf="login">{{user.name}}</div>
    <div *ngIf="login" class="menu-profile-stars-container">
      <img *ngFor="let i of stars" class="menu-profile-stars"
           [src]="i == 1 ? './assets/star3.png' : i == 2 ? './assets/star1.png' : './assets/star2.png'">
    </div>
    <a routerLink="/login" routerLinkActive="active" id="login-menu-button" class="login-button button-dark"
       (click)="clickMenuButton()" *ngIf="!login" i18n>Login</a>
  </div>
  <a *ngIf="user.active < 15 && login" routerLink="/activation" routerLinkActive="active" class="menu-link" (click)="clickMenuButton()"><img
    class="menu-link-image" src="./assets/activation.png" i18n>Account activation</a>
  <a routerLink="/bids" routerLinkActive="active" class="menu-link" (click)="clickMenuButton()"><img
    class="menu-link-image" src="./assets/bids.png">Bids</a>
  <a routerLink="/requestlist" routerLinkActive="active" class="menu-link" (click)="clickMenuButton()"><img
    class="menu-link-image" src="./assets/request.png" i18n>My service request</a>
  <a routerLink="/offerlist" routerLinkActive="active" class="menu-link" (click)="clickMenuButton()"><img
    class="menu-link-image" src="./assets/offers.png" i18n>My service
    offer</a>
  <a routerLink="/contact" routerLinkActive="active" class="menu-link" (click)="clickMenuButton()"><img
    class="menu-link-image"
    src="./assets/contacts.png" i18n>Contacts</a>
  <div class="menu-placeholder">&nbsp;</div>
  <a routerLink="/settings" routerLinkActive="active" class="menu-link" (click)="clickMenuButton()"><img class="menu-link-image"
                                                        src="./assets/settings.png" i18n>Settings</a>
  <a routerLink="/profile" routerLinkActive="active" class="menu-link"
     (click)="clickMenuButton()"><img class="menu-link-image" src="./assets/profile.png" i18n>Profile</a>
  <a class="menu-link" id="logout-button" *ngIf="login" (click)="logOut()"><img class="menu-link-image"
                                                                                src="./assets/logout.png" i18n>Log
    out</a>
</div>

