dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 2000px) {
  .service-dialog-window {
    margin-left: 15%;
    width: 70%;
  }

  .service-dialog-user-picture {
    width: 250px;
    height: 250px;
    margin: -90px 0 0 -90px;
  }
}

@media (min-width: 961px) and (max-width: 1269px) {
  .service-dialog-user-picture {
    width: 140px;
    height: 140px;
    margin: -35px 0 0 -35px;
  }
}

@media (min-width: 1270px) {
  .service-dialog-user-picture {
    width: 320%;
    min-height: 120%;
    margin: -100% 0 0 -100%;
  }
}

@media (min-width: 961px) {
  .service-dialog-window {
    margin-left: 15%;
    width: 70%;
  }

  .service-dialog-direction-left {
    left: 30px;
  }

  .service-dialog-direction-right {
    right: 30px;
  }

  .service-dialog-direction {
    margin-top: 300px;
  }

}

@media (max-width: 960px)  and (orientation: portrait) {
  .service-dialog-window {
    width: 80%;
    margin-left: 10%;
  }

  .service-dialog-direction {
    margin-top: 250px;
  }
  .service-dialog-direction-left {
    left: -10px;
  }

  .service-dialog-direction-right {
    right: -10px;
  }
  .service-dialog-user-picture {
    width: 140px;
    height: 140px;
    margin: -30px 0 0 -30px;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  .service-dialog-window {
    width: 85%;
    margin-left: 7.5%;
  }
  .service-dialog-direction-left {
    left: -10px;
  }

  .service-dialog-direction-right {
    right: -10px;
  }

  .service-dialog-direction {
    margin-top: 160px;
  }

  .service-dialog-user-picture {
    width: 170px;
    height: 170px;
    margin: -50px 0 0 -50px;
  }

  #service-container {
    -webkit-touch-overflow: scroll;
  }
}

@media (max-width: 641px) {
  .service-dialog-window {
    width: 85%;
    margin-left: 7.5%;
  }

  .service-dialog-direction-left {
    left: -10px;
  }

  .service-dialog-direction-right {
    right: -10px;
  }

}

@media (max-width: 641px) and (orientation: landscape) {

  .service-dialog-direction {
    margin-top: 120px;
  }

  .service-dialog-user-picture {
    width: 130px;
    height: 130px;
    margin: -30px 0 0 -30px;
  }
}

@media (max-width: 641px) and (orientation: portrait) {

  .service-dialog-direction {
    margin-top: 230px;
  }

  .service-dialog-user-picture {
    width: 130px;
    height: 130px;
    margin: -30px 0 0 -30px;
  }
}

.service-dialog-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(41, 41, 41, 0.5);
}

.service-dialog-window {
  overflow: hidden;
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  border-radius: 1px;
  min-height: 100px;
  max-height: 95%;
  margin-top: 20px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.25);
}

#service-container::-webkit-scrollbar {
  display: none;
}

.loader {
  position: absolute;
  margin-left: 50%;
  top: 30%;
}

.service-dialog-close {
  background: #378281;
  height: 25px;
  position: relative;
  width: 4px;
  float: right;
  margin-top: 5px;
  margin-right: 16px;
  border-radius: 1px;
  transform: rotate(45deg);
}

.service-dialog-close:after {
  background: #378281;
  content: "";
  height: 4px;
  left: -10px;
  position: absolute;
  border-radius: 1px;
  top: 10px;
  width: 25px;
}

.service-dialog-close-background {
  float: right;
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 2;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  cursor: pointer;
}

.service-dialog-close-background:hover {
  background-color: #E5E5E5;
}

.service-dialog-direction {
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 50px;
  padding-left: 5px;
  border-radius: 150%;
  background-color: #378281;
  z-index: 3;
}

.container {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  height: auto;
}

.service-dialog-previous {
  background: #F7F7F7;
  height: 25px;
  width: 4px;
  float: left;
  margin: -6px 18px;
  transform: rotate(45deg);
}
.service-dialog-direction-container{
  position: relative;
  height: 25px;
  width: auto;
  margin-top: 12px;
  overflow: hidden;
}
.service-dialog-previous:after {
  background: #F7F7F7;
  content: "";
  height: 4px;
  position: absolute;
  top: 21px;
  width: 25px;
}
.service-dialog-next {
  background: #F7F7F7;
  height: 25px;
  width: 4px;
  margin: 6px 18px;
  transform: rotate(225deg);
}

.service-dialog-next:after {
  background: #F7F7F7;
  content: "";
  height: 4px;
  position: absolute;
  top: 21px;
  width: 25px;
}
.service-dialog-direction:hover {
  background-color: #F7F7F7;
}

.service-dialog-direction-left:hover .service-dialog-previous {
  background: #378281;
}

.service-dialog-direction-left:hover .service-dialog-previous:after {
  background: #378281;
}
.service-dialog-direction-right:hover .service-dialog-next{
  background: #378281;
}

.service-dialog-direction-right:hover .service-dialog-next:after {
  background: #378281;
}

.service-dialog-more {
  color: #4A9594;
  cursor: pointer;
}

.service-dialog-more:hover {
  color: #2B6665;
}

.service-dialog-title {
  text-align: left;
  font-size: 14pt;
  color: #121212;
}

.service-dialog-description {
  text-align: left;
  font-size: 11pt;
}

#service-container {
  display: block;
  overflow-y: auto;
  animation-duration: 250ms;
  position: relative;
  padding-bottom: 60px;
  width: 100%;
  transition: height 500ms;
  background-color: #FFFFFF;
}

.service-dialog-content {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: 100%;
}

.service-dialog-location {
  padding-top: 5px;
  font-size: 11pt;
  width: 100%;
  float: left;
  position: relative;
}

.service-dialog-service-button-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: 0;
  animation-duration: 250ms;
  flex-direction: row;
  background-color: #FFFFFF;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.service-dialog-service-button {
  width: calc(49% - 10px);
  color: #378281;
  padding: 5px 5px;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  background-color: #F7F7F7;
  -webkit-flex-direction: row;
}

.service-dialog-service-button div {
  margin: auto;
}

.service-dialog-user-icon-text {
  margin-top: 10px;
  position: absolute;
}

.service-dialog-user-icon {
  top: -10px;
  position: relative;
}

.service-dialog-date {
  padding-top: 10px;
  font-size: 15pt;
  float: left;
}

@keyframes back {
  100% {
    margin-left: 0;
  }
}

@keyframes right {
  100% {
    margin-left: 100%;
  }
}

@keyframes left {
  100% {
    margin-left: -100%;
  }
}

.service-dialog-user-stars {
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.service-dialog-service-data {
  padding: 15px;
}

.service-dialog-user-action {
  margin-top: 10px;
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.service-dialog-user-profile-stars {
  width: 20px;
  height: 20px;
  margin: 2px;
}

.service-dialog-user-profile-action {
  width: 30px;
  height: 30px;
  margin: 2px;
}

.service-dialog-user-profile-location {
  margin-left: -5px;
}

.service-dialog-user-name {
  font-size: 12pt;
  margin-left: 2px;
}

.service-dialog-user-container {
  color: #2B6665;
  background-color: #F7F7F7;
  border-radius: 1px;
  padding: 5px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.service-dialog-user-data {
  padding: 10px;
  width: calc(90% - 125px);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.service-dialog-user-profile-picture {
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #FAFAFA;
  padding: 5%;
  overflow: hidden;
}

.service-dialog-user-picture {
  object-fit: cover;
}
