<div class="service-dialog-background" id="service-dialog-container" *ngIf="visible">
  <div [ngClass]="{'element-blur': backgroundBlur}">
    <div class="service-dialog-direction service-dialog-direction-left" (click)="onClickPrevious()">
      <div class="service-dialog-direction-container">
        <div class="service-dialog-previous"></div>
      </div>
    </div>
    <div class="service-dialog-direction service-dialog-direction-right" (click)="onClickNext()">
      <div class="service-dialog-direction-container">
        <div class="service-dialog-next"></div>
      </div>
    </div>
  </div>
  <div class="service-dialog-window" id="dialog-window">
    <div class="container">
      <div class="loader">Loading...</div>
      <div id="service-container" (scroll)="containerScroll()" [style.height.px]="maxHeight - 50 + scrollTop"
           [style.margin-left.px]="movedCoordX"
           [style.animation-name]="animation">
        <button class="service-dialog-close-background" [ngClass]="{'element-blur': backgroundBlur}" id="service-dialog-close-button" (click)="onClickClose()">
          <div class="service-dialog-close"></div>
        </button>
        <div class="loader" *ngIf="loading">Loading...</div>
        <div class="service-dialog-content" *ngIf="!loading">
          <div class="service-dialog-user-container" [ngClass]="{'element-blur': backgroundBlur}">
            <div class="service-dialog-user-profile-picture">
              <img class="service-dialog-user-picture" [src]="image">
            </div>
            <div class="service-dialog-user-data">
              <div class="service-dialog-user-name">{{user.name}}</div>
              <div class="service-dialog-user-stars">
                <img class="service-dialog-user-profile-stars" *ngFor="let i of stars"
                     [src]="i == 0 ? './assets/star2.png' : i == 1 ? './assets/star3.png' : './assets/star1.png'">
              </div>
              <div class="service-dialog-user-action">
                <div class="service-dialog-user-profile-action" id="service-dialog-call">
                  <a [href]="'tel:' + user.phone" target="_blank"><img class="service-dialog-icon" src="./assets/call.png"></a>
                </div>
                <div class="service-dialog-user-profile-action" id="service-dialog-send-message" (click)="onClickMessageButton()">
                  <img class="service-dialog-icon" src="./assets/message2.png">
                </div>
                <div class="service-dialog-user-profile-action" id="service-dialog-add-to-contact" (click)="onClickAddToContact()">
                  <img class="service-dialog-icon"
                     src="./assets/add-to-contacts.png">
                </div>
              </div>
            </div>
          </div>
          <div class="service-dialog-service-data">
            <div [ngClass]="{'element-blur': backgroundBlur}">
              <div class="service-dialog-title">{{service.title}}</div>
              <div class="service-dialog-location"><img
                class="service-dialog-icon service-dialog-user-profile-location"
                src="./assets/location.png"> <span class="service-dialog-user-icon-text">{{getLocation()}}</span>
              </div>
            </div>
            <gallery class="detail-gallery" [editable]="false" [images]="getPictures()"
                     (onClickImage)="imageOpen($event)"
                     [close]="isClose()" [smallPictures]="true" (onClickCloseImage)="onClickCloseFullscreenGallery()"></gallery>
            <div [ngClass]="{'element-blur': backgroundBlur}">
              <div class="service-dialog-description">{{service.description}}<span id="service-dialog-more-button"
                                                                                   class="service-dialog-more"
                                                                                   (click)="onClickOpen()"> More...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{'element-blur': backgroundBlur}" *ngIf="!loading" class="service-dialog-service-button-container"
         [style.margin-left.px]="movedCoordX" [style.animation-name]="animation">
      <div class="service-dialog-service-button" id="service-dialog-bookmark-button" (click)="onClickBookmark()">
        <div>
          <img class="service-dialog-icon"
               [src]="!addedToBookmark ? './assets/bookmark.png' : './assets/bookmark_yellow.png'"><span
          class="service-dialog-user-icon">Bookmark</span></div>
      </div>
      <div class="service-dialog-service-button" id="service-dialog-send-offer-button" (click)="onClickSendOffer()">
        <div><img class="service-dialog-icon"
                  src="./assets/offer.png"><span class="service-dialog-user-icon">Send Offer</span></div>
      </div>
    </div>
  </div>

</div>
