dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 2000px) {
  .service-dialog-window {
    margin-left: 20%;
    width: 60%;
  }
}

@media (min-width: 961px) {
  .service-dialog-window {
    margin-left: 16%;
    width: 60%;
  }
}

@media (max-width: 960px) {
  .service-dialog-window {
    width: 70%;
    margin-left: 12%;
  }
}

@media (max-width: 641px) {
  .service-dialog-window {
    width: 80%;
    margin-left: 7%;
  }
}

.service-dialog-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: rgba(41, 41, 41, 0.5);
}

.service-dialog-window {
  position: relative;
  top: 0;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 2% 3%;
  min-height: 300px;
  margin-top: 50px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.25);
}

.loader {
  margin-left: 50%;
  margin-top: 15%;
}

.service-dialog-close {
  background: #378281;
  height: 25px;
  position: relative;
  width: 4px;
  float: right;
  margin-top: 5px;
  margin-right: 16px;
  border-radius: 1px;
  transform: rotate(45deg);
}

.service-dialog-close:after {
  background: #378281;
  content: "";
  height: 4px;
  left: -10px;
  position: absolute;
  border-radius: 1px;
  top: 10px;
  width: 25px;
}

.service-dialog-close-background {
  float: right;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  cursor: pointer;
}

.service-dialog-close-background:hover {
  background-color: #E5E5E5;
}

.service-dialog-previous {
  background: #378281;
  height: 50px;
  width: 6px;
  float: left;
  margin-left: 15px;
  border-radius: 1px;
  transform: rotate(45deg);
}

.service-dialog-previous:after {
  background: #378281;
  content: "";
  height: 6px;
  position: absolute;
  border-radius: 1px;
  top: 44px;
  width: 46px;
}

.service-dialog-direction-left {
  position: absolute;
  margin-top: 120px;
  cursor: pointer;
  width: 45px;
  height: 80px;
  padding-left: 5px;
  border-radius: 10px;

}

.service-dialog-direction-left:hover {
  background-color: #EAEAEA;
}

.service-dialog-direction-right {
  position: absolute;
  cursor: pointer;
  right: 28px;
  margin-top: 120px;
  width: 45px;
  height: 80px;
  padding-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}

.service-dialog-direction-right:hover {
  background-color: #EAEAEA;
}

.service-dialog-next {
  background: #378281;
  height: 50px;
  margin-top: 30px;
  width: 6px;
  margin-left: 20px;
  border-radius: 1px;
  transform: rotate(225deg);
}

.service-dialog-more {
  color: #4A9594;
  cursor: pointer;
}

.service-dialog-more:hover {
  color: #2B6665;
}

.service-dialog-next:after {
  background: #378281;
  content: "";
  height: 6px;

  position: absolute;
  border-radius: 1px;
  top: 44px;
  width: 46px;
}

.service-dialog-title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 18pt;
  color: #2B6665;
}

.service-dialog-description {
  text-align: left;
  font-size: 14pt;
}

.service-dialog-content {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin: 10px 60px;
}

.service-dialog-location {
  padding-top: 15px;
  font-size: 15pt;
  float: left;
}

.service-dialog-date {
  padding-top: 10px;
  font-size: 15pt;
  float: left;
}
