<div class="input-container">
  <h1>Sign in</h1>
  <form #userForm="ngForm">
    <div class="input-group">
      <text-input [type]="'email'" [refresh]="validation.errorId" [placeholder]="'Email'" [validation]="validation"
                  (text)="user.email = $event"></text-input>
    </div>
    <div class="input-group">
      <text-input [type]="'password'" [refresh]="validation.errorId" [validation]="validation"
                  [placeholder]="'Password'" (text)="user.password = $event"></text-input>
    </div>
    <input type="submit" value="Login" class="input-button button-dark" (click)="login()"/>
    <div class="error-message response-message">{{error}}</div>
  </form>
  <p class="input-link">Forgot password?</p>
  <div class="social-container">
    <input type="submit" value="Login with Facebook" class="social-button button-facebook"/>
    <input type="submit" value="Login with Google" class="social-button button-google"/>
  </div>
</div>
<div class="input-container registration-container">
  <p class="input-title">New to udoo?</p>
  <button class="input-button button-light" routerLink="/registration" routerLinkActive="active">Create a new account
  </button>
</div>

