@media (min-width: 2000px) {
  .registration-container {
    margin-top: 2%;
    padding: 6% 0 14% 0;
  }
}

@media (max-width: 2000px) {
  .registration-container {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 4% 0 10.5% 0;
  }
}

@media (max-width: 960px) {
  .registration-container {
    padding-top: 3%;
    padding-bottom: 10%;
  }
}

@media (max-width: 641px) {
  .registration-container {
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 20%;
  }
}

.social-button:hover {
  opacity: 0.8;
}

.social-button {
  padding: 1%;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 35px;
  margin-top: 4%;
  border-radius: 5px;
  border: 0;
  color: white;
}

.input-title {
  text-align: center;
  color: #378281;
  text-decoration: none;
  font-size: 16pt;
  padding: 1%;
}

.registration-container {
  background-color: #f6f6f6;
}

.button-facebook {
  background-color: #607cb7;
}

.button-google {
  background-color: #dd4b39;
}

