<div class="input-container">
  <h1>Sign in</h1>
  <form novalidate>
    <text-input [type]="'email'" [placeholder]="'Email'" [validators]="[emptyValidator, emailValidator]" (onStateChange)="valid[0]=$event"
                (text)="user.email = $event"></text-input>
    <text-input [type]="'password'" [validators]="[emptyValidator, passwordValidator]" (onStateChange)="valid[1]=$event"
                [placeholder]="'Password'" (text)="user.password = $event"></text-input>
    <input type="submit" value="Login" class="input-button button-dark" (click)="login()"/>
    <div class="error-message response-message">{{error}}</div>
  </form>
  <p *ngIf="activate" class="input-link" routerLink="/verification" routerLinkActive="active">Account activation</p>
  <p class="input-link" routerLink="/reminder" routerLinkActive="active">Forgot password?</p>
  <div class="social-container">
    <input type="submit" value="Login with Facebook" class="social-button button-facebook"/>
    <input type="submit" value="Login with Google" class="social-button button-google"/>
  </div>
</div>
<div class="registration-container">
  <div class="input-container">
    <p class="input-title">New to udoo?</p>
    <button class="input-button button-light" routerLink="/registration" routerLinkActive="active">Create a new
      account
    </button>
  </div>
</div>

