<div class="input-container">
  <form #userForm="ngForm">
    <div>
      <input type="text" id="email" class="input-login" required
             [(ngModel)]="user.email" name="email" placeholder="Current password"/>
    </div>
    <div>
      <input type="password" id="password" class="input-login"
             required [(ngModel)]="user.password" name="password" placeholder="New password"/>
    </div>

    <div class="column-button">
      <input type="submit" value="Save" class="input-button" (click)="save()"/>
      <input type="button" value="Back" class="input-button" routerLink="/profile" routerLinkActive="active" />
    </div>
  </form>
  <div>
    <span>{{error || message}}</span>
  </div>
</div>

