<div class="input-container">
  <form #userForm="ngForm" novalidate>
    <div>
      <text-input [type]="'password'" (text)="currentpassword = $event" [validators]="[emptyValidator, passwordValidator]" (onStateChange)="valid[0]=$event"
                  [placeholder]="'Current password'"></text-input>
    </div>
    <div>
      <text-input [type]="'password'" (text)="password = $event" [placeholder]="'New password'" [validators]="[emptyValidator, passwordValidator]" (onStateChange)="valid[1]=$event"></text-input>
    </div>

    <div class="column-button">
      <input type="submit" value="Save" class="input-button button-dark" (click)="save()"/>
      <input type="button" value="Back" class="input-button button-light" routerLink="/profile"
             routerLinkActive="active"/>
    </div>
  </form>
  <div class="response-message error-message">{{error}}</div>
  <div class="response-message ok-message">{{message}}</div>

</div>

