<div *ngIf="!smallPictures" id="scrollable-gallery-container" class="scrollable-gallery-container">
  <div class="image-item" [style.width.px]="imageWidth" [style.height.px]="imageWidth"
       *ngFor="let img of images; let i = index">
    <div [ngClass]="{'gallery-image-loader' : isLoading(i), 'gallery-image-error' : isError(i)}"></div>
    <img (click)="onClickDelete(i)" *ngIf="editable" class="image-trash" src="./assets/close_black.png">
    <img class="image-content" [src]="getPictureUrl(img.src, i)">
    <div class="image-hover" (click)="onClickPicture(i)" [id]="'galleryTouch' + i"></div>
  </div>
  <div class="gallery-button-container" *ngIf="editable">
    <button class="gallery-input-file gallery-button-left-radius">
      <img src="./assets/camera.png">
      <span>Take</span>
      <input type="file" accept="image/*" (change)="onClickNew($event)"/>
    </button>
    <button class="gallery-input-file gallery-button-right-radius">
      <img src="./assets/picture.png">
      <span>Browse</span>
      <input type="file" accept="image/*" (change)="onClickNew($event)"/>
    </button>
  </div>
</div>
<div *ngIf="smallPictures" class="gallery-dialog-images">
  <div class="gallery-dialog-picture-container"
       *ngFor="let img of images; let i = index">
    <img class="gallery-dialog-picture" [src]="getPictureUrl(img.src, i)" (click)="onClickPicture(i)">
    <div class="gallery-image-hover" (click)="onClickPicture(i)" [id]="'galleryTouch' + i"></div>
  </div>
</div>
<div *ngIf="gallery" id="gallery" class="fullscreen-gallery">
  <img *ngIf="index > 0" id="gallery-image-left" [style.margin-left.px]="leftMargin"
       [style.animation-name]="animationLeft" class="gallery-image" [src]="images[index -1].src">
  <img id="gallery-image-center" [style.margin-left.px]="margin" [style.animation-name]="animation"
       class="gallery-image" [src]="images[index].src">
  <img *ngIf="index < images.length - 1" id="gallery-image-right" [style.margin-left.px]="rightMargin"
       [style.animation-name]="animationRight" class="gallery-image" [src]="images[index + 1].src">
  <div *ngIf="index > 0" class="gallery-left-arrow-container gallery-arrow-container" (click)="onClickPrevious()">
    <div class="gallery-left-arrow"></div>
  </div>
  <div *ngIf="index < images.length - 1" class="gallery-arrow-container gallery-right-arrow-container"
       (click)="onClickNext()">
    <div class="gallery-right-arrow"></div>
  </div>
</div>
