@media (min-width: 961px) {
  .main-list-container {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .main-list-service-picture {
    width: 152px;
    height: 95px;
  }

  .main-list-service-image {
    width: auto;
    height: 95px;
  }

  .main-list-service-content {
    width: calc(100% - 157px);
  }

  .main-list-service-title {
    font-size: 16pt;
  }

  .main-list-service-content-text {
    font-size: 12pt;
    margin-left: -5px;
  }

  .main-list-service-content-text img {
    width: 30px;
    height: 30px;
  }

  .main-list-service-content-text span {
    top: -7px;
  }
}

@media (max-width: 960px) {
  .main-list-container {
    width: 100%;
  }

  .main-list-service-picture {
    width: 128px;
    height: 80px;
  }

  .main-list-service-image {
    width: auto;
    height: 80px;
  }

  .main-list-service-content {
    width: calc(100% - 133px);
  }

  .main-list-service-title {
    font-size: 14pt;
  }

  .main-list-service-content-text {
    font-size: 10pt;
    margin-left: -5px;
  }

  .main-list-service-content-text img {
    width: 25px;
    height: 25px;
  }

  .main-list-service-content-text span {
    top: -5px;
  }
}

@media (max-width: 641px) {
  .main-list-container {
    width: 100%;
  }

  .main-list-service-picture {
    width: 104px;
    height: 65px;
  }

  .main-list-service-image {
    width: auto;
    height: 65px;
  }

  .main-list-service-content {
    width: calc(100% - 109px);
  }

  .main-list-service-title {
    font-size: 12pt;
  }

  .main-list-service-content-text {
    font-size: 9pt;
    margin-left: -3px;
  }

  .main-list-service-content-text img {
    width: 20px;
    height: 20px;
  }

  .main-list-service-content-text span {
    top: -5px;
  }

}

.main-list-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

/*Service*/
.main-list-service {
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  position: relative;
  background-color: #F7F7F7;
  border-top: 2px solid #FFFFFF;
}

.main-list-service:hover {
  background-color: #FFFFFF;
}

.loader {
  margin-bottom: 50px;
}

.main-list-service-picture {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.main-list-service-image {
  margin: auto;
  display: block;
}

.main-list-service-content {
  font-family: Arial, Helvetica, sans-serif;
}

.main-list-service-title {
  color: #2E2F2F;
  font-weight: lighter;
}

.main-list-service-content-text {
  color: #4A4A4A;
}

.main-list-service-content-text span {
  position: relative;
}

.main-list-service-container {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  transition: margin-left 250ms;
}

.main-list-service-button-container {
  z-index: 1;
  position: absolute;
  width: 85%;
  height: 100%;
  left: calc(100% + 1px);
  top: 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  transition: margin-left 250ms;
  -webkit-flex-direction: row;
}

.main-list-service-button {
  width: 33.3%;
  cursor: pointer;
  height: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 14pt;
  padding-top: 45px;
}

.main-list-service-button:hover {
  opacity: 0.9;
}

.main-list-service-button-detail {
  background-color: #378281;
}

.main-list-service-button-bookmarks {
  background-color: #5F9B9A;
}

.main-list-service-button-send-offer {
  background-color: #87B4B3;
}
