<div class="data-container">
  <div class="chat-container">
    <div class="chat-messages">
      <div class="chat-message-container chat-user-message-container">
        <div class="chat-profile-picture chat-user-profile-picture"></div>
        <div class="chat-user-message chat-message"> asdnasd askjdh aksdka</div>
      </div>
      <div class="chat-message-container chat-partner-message-container">
        <div class="chat-profile-picture chat-partner-profile-picture"></div>
        <div class="chat-partner-message chat-message"> a sdkjh aksdhsada as asd jas as djkas dhkasdhkas hdkjas hd kjass dhaskdj ashdkjas djkas</div>
      </div>
      <div class="chat-message-container chat-user-message-container">
        <div class="chat-profile-picture chat-user-profile-picture"></div>
        <div class="chat-user-message chat-message"> asdnasd askjdh aksdka</div>
      </div>
      <div class="chat-message-container chat-partner-message-container">
        <div class="chat-profile-picture chat-partner-profile-picture"></div>
        <div class="chat-partner-message chat-message"> a sdkjh aksdhj ashdkjas djkas</div>
      </div>
      <div class="chat-message-container chat-user-message-container">
        <div class="chat-profile-picture chat-user-profile-picture"></div>
        <div class="chat-user-message chat-message"> asdnasd askjdh aksdka</div>
      </div>
      <div class="chat-message-container chat-partner-message-container">
        <div class="chat-profile-picture chat-partner-profile-picture"></div>
        <div class="chat-partner-message chat-message"> a sdkjh aksdhj ashdkjas djkas</div>
      </div>
      <div class="chat-message-container chat-user-message-container">
        <div class="chat-profile-picture chat-user-profile-picture"></div>
        <div class="chat-user-message chat-message"> asdnasd askasd asda aldask dlkjdlkjasdakdieduhaowdjawijdalwkwdmlaknwdlawndajdnawdnjwal wjdjdh aksdka</div>
      </div>
      <div class="chat-message-container chat-partner-message-container">
        <div class="chat-profile-picture chat-partner-profile-picture"></div>
        <div class="chat-partner-message chat-message"> a sdkjh aksdhj ashdkjas djkas</div>
      </div>
      <div class="chat-bottom-space"></div>
    </div>
  </div>
  <div class="chat-user-message-box-container">
    <textarea class="chat-user-message-box" autofocus></textarea>
    <button class="input-button button-dark">Send</button>
  </div>
</div>
