<div class="header">
  <div class="header-button" (click)="visibleMenu = !visibleMenu">☰</div>
  <div class="header-title"><a routerLink="/" routerLinkActive="active">
    <img class="header-logo" src="/src/images/logo.png"></a>
  </div>
</div>

<div class="content">
  <div class="menu-container-background">
    <div class="menu-container" *ngIf="visibleMenu">
      <div class="menu-profile">
        <div class="menu-profile-picture">
          <img class="menu-profile-image" src="/src/images/profile_picture.png">
        </div>
        <div class="menu-profile-name">Firstname Lastname</div>
        <div class="menu-profile-stars"></div>
      </div>
      <a routerLink="/login" routerLinkActive="active" class="menu-link" (click)="visibleMenu = !visibleMenu">Login</a>
      <a routerLink="/request" routerLinkActive="active" class="menu-link" (click)="visibleMenu = !visibleMenu">My
        service
        request</a>
      <a routerLink="/offer" routerLinkActive="active" class="menu-link" (click)="visibleMenu = !visibleMenu">My service
        offer</a>
      <a class="menu-link" (click)="visibleMenu = !visibleMenu">Contacts</a>
      <div class="menu-placeholder"></div>
      <a routerLink="/profile" routerLinkActive="active" class="menu-link"
         (click)="visibleMenu = !visibleMenu">Profile</a>
      <a class="menu-link" (click)="visibleMenu = !visibleMenu">Settings</a>

      <a class="menu-link" (click)="logOut()">Log out</a>
    </div>
  </div>
  <div class="map-container">
    <router-outlet></router-outlet>
  </div>
</div>
