<div class="header">
  <div class="header-button" id="menu-button" [ngClass]="{'header-button-menu' : menuButton, 'header-button-back' : !menuButton}"
       (click)="onClickMenu()"></div>
  <div class="header-title"><a routerLink="/" routerLinkActive="active" (click)="changeButton()">
    <img class="header-logo" src="./assets/logo.png"></a>
  </div>
</div>
<div class="content">
  <side-menu [showMenu]="visibleMenu" (menuItemClicked)="menuItemClicked()" (activatedUser)="activated = $event"></side-menu>
  <div class="map-container" (scroll)="onScroll()" id="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
<message-dialog></message-dialog>
