.header-title {
  margin: auto;
  padding-right: 5%;
}

.header-button {
  text-align: left;
  padding-bottom: 2%;
  padding-left: 15px;
  font-size: 25pt;
  cursor: pointer;
}

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 60px;
  font-weight: bold;
  line-height: 60px;
  font-size: 40px;
  background-color: #378281;
  color: #FFFFFF;
}

.content {
  overflow: hidden;
  height: calc(100% - 60px);
}
.map-container{
  overflow: auto;
}
.header-logo{
  height: 40px;
  padding: 10px;
}
.menu-container {
  overflow: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 300px;
  float: left;
  height: calc(100% - 60px);
  background-color: #FFFFFF;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 10;
  top: 60px;
}

.menu-profile {
  display: block;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-bottom: 3px solid #AFAFAF;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 300px;
}

.menu-profile-name {
  text-align: center;
  font-size: 20px;
}

.menu-profile-stars {
  padding: 10%;
}

.menu-profile-picture {
  padding: 10%;
}

.menu-profile-image {
  width: 80%;
  margin-left: 7%;
}

.menu-placeholder {
  height: 40px;
  border-top: 3px solid #AFAFAF;
  border-bottom: 3px solid #AFAFAF;
}

.map-container {
  height: 100%;
}

.menu-link {
  text-decoration: none;
  color: dimgrey;
  padding: 5%;
  text-align: center;
}

.menu-link:hover {
  background-color: #DADADA;
}
