.header-title {
  margin: auto;
}

.header-button {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  cursor: pointer;
  height: 60px;
  width: 40px;
}

.header-search {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
  position: absolute;
  float: right;
  right: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: url("../assets/search.png") no-repeat center;
  background-size: 30px 30px;
}

.header-button-menu {
  background: url("../assets/ic_hamburger.png") no-repeat center;
  background-size: 40px 40px;
}

.header-button-back {
  background: url("../assets/back_arrow.png") no-repeat center;
  background-size: 40px 40px;
}

.header {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  position: fixed;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 60px;
  font-weight: bold;
  background-color: #378281;
  z-index: 5;
}

.content {
  overflow: hidden;
  height: calc(100% - 60px);
}

.header-logo {
  height: 40px;
  padding: 10px;
}

.account-activation {
  height: 15px;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 60px;
  text-align: center;
  background-color: #4A9594;
  color: #FFFFFF;
  z-index: 1;
  font-size: 8pt;
}

.account-activation a {
  cursor: pointer;
  text-decoration: underline;
}

#content-container {
  top: 60px;
  position: fixed;
  width: 100%;;
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}
