@media (min-width: 961px) {
  .map-filter {
    width: 40%;
  }

  .map-triangle-container {
    width: 5%;
  }

  .map-inputs-container {
    width: 90%;
  }

}

@media (max-width: 960px) {
  .map-filter {
    width: 60%;
  }

  .map-triangle-container {
    width: 7.5%;
    height: 50px;
  }

  .map-inputs-container {
    width: 87.5%;
  }
}

@media (max-width: 641px) {
  .map-filter {
    width: calc(100% - 30px);
  }

  .map-triangle-container {
    width: 10%;
  }

  .map-inputs-container {
    width: 90%;
  }
}

.map-inputs-container {
  padding: 2%;
}

.hide-map-filter {
  margin: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #378281;
}

.hide-map-inputs {
  display: none;
}

.map-filter {
  position: absolute;
  margin: 15px;
  left: 0;
  top: 0;
  min-height: 40px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px #9f9f9f;
  border-radius: 2px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.map-filter{
  visibility: hidden;
}
.map-search {
  position: relative;
  width: 83%;
}

.map-select {
  float: left;
  width: 49%;
  border-radius: 3px;
}

#close-container {
  width: 20px;
  height: 20px;
  margin: 1% auto;
  cursor: pointer;
  border-radius: 20px;
}

#close-container:hover {
  background-color: #EAEAEA;
}

#close-icon {
  background: #378281;
  height: 12px;
  width: 2px;
  border-radius: 1px;
  transform: rotate(45deg);
  margin-left: 9px;
  margin-top: 4px;
}

#close-icon:after {
  background: #378281;
  content: "";
  height: 2px;
  left: -5px;
  position: absolute;
  border-radius: 1px;
  top: 5px;
  width: 12px;
}

.search-button {
  background-color: #378281;
  width: 100%;
  padding-left: 13px;
  padding-top: 13px;
}

#magnifying-glass {
  font-size: 2em;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid #FFFFFF;
  position: relative;
  border-radius: 0.35em;
  cursor: pointer;
}

#map {
  height: calc(100% - 110px);
  position: relative !important;
  overflow: hidden;
}
.map-blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
#magnifying-glass::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: #FFFFFF;
  width: 0.35em;
  height: 0.08em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.right-padding {
  padding-right: 2%;
}

.input-group {
  height: 40px;
}

.map-triangle-container {
  margin: auto;
  position: relative;
}

.input-button {
  margin-top: 0;
  width: 100%;
}
