.input-select {
  width: 50%;
  height: 30px;
  border-radius: 2px;
  text-align: center;
  margin: 2%;
}

@media(min-width: 961px) {

  .data-container {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .input-button{
    margin-left: 180px;
  }
}

@media(max-width: 960px) {
  .input-button {
    height: 40px;
    margin-left: 180px;
  }
}

@media(max-width: 641px) {
  .input-button {
    margin-left: 0;
    margin-bottom: 10px;
  }

}

h1 {
  text-align: center;
  color: #378281;
  font-weight: 500;
  margin-top: 0;
}

.data-container {
  padding: 0 0 30px 0;
}

.loader{
  margin-top: 15%;
}

.bid-name {
  word-wrap: break-word;
  font-size: 11pt;
  padding: 5px 0;
  color: #4A4A4A;
}
.date-expired{
  color: #FF0000;
}
.bid-button-container{
  width: 40px;
  margin: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  float: right;

}
.bid-button-container img{
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  cursor: pointer;
}
.bid-button-container img:hover{
  opacity: 0.8;
}
.input-button {
  width: auto;
  height: 30px;
  min-width: 40px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 200px;
  margin-top: 10px;
}
.service-container-box-picture{
  top: 20px;
  right: 20px;
}
.bid-text{
  font-size: 11pt;
  color: #3A3A3A
}
.bid-text b{
  color:#378281;
  font-weight: 500;
}
