<div class="toolbar-search-background" *ngIf="visible">
  <div class="toolbar-search-toolbar">
    <input class="toolbar-search-input" placeholder="Search">
    <img class="toolbar-search-close" src="./assets/close.png" (click)="onClickClose()">
  </div>
  <div class="toolbar-search-result">
    <div class="toolbar-search-type toolbar-search-result-box"><b>babysitting</b> in Categories</div>
    <div class="toolbar-search-type-result toolbar-search-result-box"><b>Part-time babysitting</b> in Babysitting (view all)</div>
    <div class="toolbar-search-type-result toolbar-search-result-box"><b>Babysitting</b> in House Services (view all)</div>
  </div>
</div>
