.toolbar-search-background {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.toolbar-search-toolbar {
  background-color: #FFFFFF;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
}

.toolbar-search-result {
  margin-top: 60px;
  height: calc(100% - 60px);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.toolbar-search-close {
  position: absolute;
  width: 33px;
  height: 33px;
  margin: 10px;
  padding: 3px;
  right: 0;
  vertical-align: middle;
  border-radius: 100%;
}

.toolbar-search-close:hover {
  background-color: #efefef;
}

.toolbar-search-input {
  width: calc(100% - 100px);
  height: 60px;
  margin: 0 20px;
  border: none;
  font-size: 16pt;
  color: #23605F;
  padding: 0 10px;
  background-color: #FFFFFF;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #4A9594;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #4A9594;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #4A9594;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #4A9594;
}

.toolbar-search-type {
  background-color: #378281;
  color: #ffffff;
}

.toolbar-search-result-box {
  padding: 20px 15px;
  cursor: pointer;
  height: 20px;
  width: 100%;
}

.toolbar-search-type-result {
  color: #4A4A4A;
}

.toolbar-search-type-result:hover {
  background-color: rgba(255, 255, 255, 1);
}

.toolbar-search-type-result-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.toolbar-search-type-result-container-full {
  height: calc(100% - 60px);
}

.toolbar-search-type-result-container-part {
  height: calc(100% - 60px);
}

.toolbar-search-placeholder{
  color: #ACACAC;
  font-weight: 500;
  text-align: center;
  top: 45%;
  font-size: 16pt;
  width: 100%;
  position: absolute;
}
