<location *ngIf="load" (onSaved)="locationSelected($event)"></location>
<div class="input-container">
  <h1 i18n>{{getTitle()}}</h1>
  <form #userForm="ngForm" novalidate>
    <span class="input-label" i18n>Title</span><br>
    <text-input [id]="'title-input'" [type]="'text'" [placeholder]="'Title'" [value]="data.title"
                (onKey)="data.title=$event" [validators]="[emptyValidator]"
                (onValidationStateChange)="fieldValidate(0, $event)" [checkValidate]="refresh"></text-input>
    <span class="input-label" i18n>Category</span><br>
    <select-input [id]="'category-select'" [options]="category" [selected]="data.category" (onChange)="onSelectChange($event)"
                  (onValidationStateChange)="fieldValidate(1, $event)" [checkValidate]="refresh"></select-input>
    <span class="input-label" i18n>Description</span><br>
    <text-area [id]="'description-area'" [row]="4" [validators]="[emptyValidator]"
               (onValidationStateChange)="fieldValidate(2, $event)" [column]="50"
               [placeholder]="'Description'" (onKey)="data.description=$event" [value]="data.description"
               [checkValidate]="refresh"></text-area>
    <span class="input-label" i18n>Service picture</span><br>

    <div class="input-profile-picture-background">
      <div [ngClass]="{'upload-picture-loader' : loaderVisible, 'upload-picture-error' : pictureLoadError}"></div>
      <img
        [ngClass]="{'input-profile-picture-image' : (data.image == null|| data.image.length == 0 || data.image === 'null')}"
        [src]="getPictureUrl()">
    </div>
    <div class="picture-button-container">
      <file-input [text]="'Browse'" (value)="onClickBrowse($event)"></file-input>
      <file-input [text]="'Take'" (value)="onClickBrowse($event)"></file-input>
      <input type="button" class="input-file input-button button-light" value="Clear"
             (click)="onClickCancel()"/>
    </div>
    <span class="input-label" i18n>Location</span><br>
    <text-input [id]="'location-input'" [type]="'text'" [placeholder]="'Choose service location'"
                [value]="location"
                (onClickInput)="onClickSelectLocation()" [validators]="[emptyValidator]"
                (onValidationStateChange)="fieldValidate(3, $event)" [checkValidate]="refresh"></text-input>
    <div *ngIf="showElements()" class="checkbox-container">
      <span class="input-label checkbox-label" i18n>Use current location: </span>
      <div class="checkbox-background">
        <input type="checkbox" id="checkbox" title="" [(ngModel)]="data.realTime" required name="current-location">
        <label for="checkbox"></label>
      </div>
    </div>
    <br>
    <span class="input-label" i18n>{{showElements() ? 'Availability' : 'Job date'}}</span>
    <text-input *ngIf="showElements()" [id]="'availability-input'" [type]="'text'"
                [placeholder]="'Availability'" [value]="data.availability" (onKey)="data.availability=$event"
                [validators]="[emptyValidator]" (onValidationStateChange)="fieldValidate(4, $event)"
                [checkValidate]="refresh"></text-input>
    <div *ngIf="!showElements()">
      <text-input [id]="'date-input'" [type]="'date'"
                  [placeholder]="'Date'" [value]="data.jobdate" (onKey)="data.jobdate=$event"
                  [validators]="[emptyValidator, dateValidator]" (onValidationStateChange)="fieldValidate(4, $event)"
                  [checkValidate]="refresh"></text-input>
      <text-input [id]="'time-input'" [type]="'time'" [validators]="[emptyValidator, timeValidator]"
                  (onValidationStateChange)="fieldValidate(5, $event)" [checkValidate]="refresh"></text-input>
      <text-input [id]="'number-input'" [type]="'number'" [validators]="[emptyValidator, numberValidator]"
                  (onValidationStateChange)="fieldValidate(6, $event)"
                  [placeholder]="'Period'" [checkValidate]="refresh"></text-input>
    </div>
    <span class="input-label" i18n>Expiry date</span><br>
    <text-input [id]="'expirydate-input'" [type]="'date'" [value]="getDate()"
                (onKey)="data.expirydate=$event" [validators]="[emptyValidator, dateValidator]"
                (onValidationStateChange)="fieldValidate(!showElements() ? 7 : 5, $event)"
                [checkValidate]="refresh"></text-input>

    <input id="save-button" type="button" [value]="(isUpdate() ? 'Update' : 'Save')" class="input-button button-dark"
           (click)="onClickSave()"/>
    <input *ngIf="isUpdate()" type="button" value="Delete" class="input-button button-dark" (click)="onClickDelete()"/>
  </form>
  <div id="ok-message" class="ok-message response-message">{{message}}</div>
  <div id="error-message" class="error-message response-message">{{error}}</div>
</div>
