.detail-description{
  font-size: 14pt;
  font-weight: lighter;
}
.detail-description b{
  color: #2B6665;
}
.detail-location{
  font-size: 14pt;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  color: #2B6665;
}
.detail-date{
  font-size: 14pt;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  color: #2B6665;
}
@media (min-width: 2000px) {
  .gallery-container{
    width: 70%;
    margin: 1% 15% 2% 15%;
  }
  .input-container {
    width: 40%;
    margin: 1% 20% 2% 20%;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 961px) {
  .gallery-container{
    width: 92%;
    margin: 2% 4%;
  }
  .input-container {
    width: auto;
    margin: 0 auto;
    padding: 2% 10% 2% 10%;
    -webkit-flex-direction: row;
    flex-direction: row;

  }
  .input-send{
    margin-top: -58px;
    float: right;
    width: 13%;
    height: 50px;
  }
  text-area{
    display: block;
    width: 85%;
    margin-right: 5%;
  }
  .button-contact{
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;

  }
  .contact-container{
    width: 20%;
    margin-right: 30px;
  }
  .contact-picture-image{
    width: 150px;
    height: 150px;
    margin: -15px 0 0 -15px;
  }

  .comments{
   margin: 20px 10%;
  }

}
@media (max-width: 960px) {
  .gallery-container{
    width: 90%;
    margin: 2% 5% 2% 5%;
  }
  .input-container {
    width: auto;
    margin: 0 auto;
    padding: 2% 5% 2% 5%;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .service-container{
    width: 70%;
  }
  .contact-picture-image{
    width: 150px;
    height: 150px;
    margin: -15px 0 0 -15px;
  }
  .input-send{
    margin-top: -58px;
    float: right;
    width: 13%;
    height: 52px;
  }
  text-area{
    display: block;
    width: 85%;
    margin-right: 5%;
  }
  .contact-container{
    width: 30%;
    margin-right: 20px;
  }

  .comments{
    margin: 20px 5%;
  }
}
@media (max-width: 641px) {
  .gallery-container{
    width: 90%;
    margin: 2% 5% 5% 5%;
  }
  .input-container {
    padding: 2% 5% 5% 5%;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .service-container{
    width: 100%;
  }
  .contact-container{
    width: 93%;
    margin-left: 0;
  }
  .contact-picture-image{
    width: 170px;
    height: 170px;
    margin: -25px 0 0 -25px;
  }
  .input-send{
    margin-top: 0;
    width: 100%;
    height: 40px;
  }
  text-area{
    display: block;
    width: 100%;
  }
  .comments{
    margin: 20px 5%;
  }
}
.input-container{
  display: -webkit-flex;
  display: flex;
}

.contact-container{
  background-color: #EBF2F2;
  text-align: center;
  padding: 3%;
  margin-top: 20px;
  border-radius: 10px;
  color:#2B6665;
}
.contact-picture-image{
  object-fit: cover;
}

.contact-profile-picture {
  margin: 15px auto;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #FAFAFA;
  padding: 5%;
  overflow: hidden;
}
.contact-name{
  font-size: 16pt;
  padding: 10px 0 10px 0;
}
.contact-phone{
  font-size: 12pt;
  padding: 5px;
}
.contact-email{
  font-size: 12pt;
  padding: 5px;
}
.contact-profile-stars {
  width: 20px;
  height: 20px;
  margin: 2px;
}
.contact-stars{
  margin: 10px auto;
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.comments{
  border-top: solid 2px #378281;
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
}
.new-comment{
  padding-top: 10px;
  display: block;
}
.comment-container{
  padding: 5px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  border-bottom: 1px solid #378281;
}
.comment-name{
  color: #2B6665;
  font-size: 14pt;
  padding: 5px 0;
}
.comment-date{
  color:#9f9f9f;
  font-size: 10pt;
  padding: 5px 0;
}
.comment-content{
  margin: 0 10px;
  width: 100%;
}

.comment-container:hover{
  background-color: #EFEFEF;
}
.comment-container img{
  width: 60px;
  height: 60px;
  min-width: 60px;
  background-color: #DfDfDf;
  border-radius: 5px;
  overflow: hidden;
}
.more-comment{
  margin: 10px 0;
  font-size: 10pt;
  color: #2B6665;
  cursor: pointer;
}
.more-comment:hover{
  color:#378281;
}
.button-bid{
  width: 40%;
}
