<div class="input-container" *ngIf="loaded">
  <div class="contact-container">
    <div class="contact-profile-picture">
      <img class="contact-picture-image" [src]="image">
    </div>
    <div class="contact-stars">
      <img class="contact-profile-stars"  *ngFor="let i of stars" [src]="i == 0 ? './assets/star2.png' : i == 1 ? './assets/star3.png' : './assets/star1.png'">
    </div>
    <div class="contact-name">{{user.name}}</div>
    <div class="contact-phone">{{user.phone}}</div>
    <div class="contact-email">{{user.email}}</div>
    <button class="input-button button-dark" (click)="onClickAddToContact()" i18h>Add to contact</button>
    <div *ngIf="message.length > 0" class="response-message ok-message">{{message}}</div>
    <div *ngIf="error.length > 0" class="response-message error-message">{{error}}</div>
  </div>
  <div class="service-container">
    <h1>{{data.title}}</h1>
    <div class="detail-description"><b i18h>Description: </b>{{data.description || ''}}</div>
    <div class="detail-location"><b i18h>Location:</b> {{getLocation(data.location)|| ''}}</div>
    <div class="detail-date" *ngIf="!type"><b i18h>Job date:</b> {{data.jobdate || ''}}</div>
    <div class="detail-date"><b i18h>Expiry date:</b> {{convertNumberToDate(data.expirydate) || ''}}</div>
  </div>
</div>
<div *ngIf="!loaded && error.length > 0" class="response-message error-message">{{error}}</div>
