.main-tab-container {
  background-color: #ffffff;
  color: #378281;
  width: 100%;
  margin-top: -1px;
  position: fixed;
  height: 50px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 1px #CACACA;
  -webkit-flex-direction: row;
  font-size: 14pt;
  z-index: 5;
  top: 60px;
}

.main-tab-element {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 33.3%;
  padding: 10px;
}

.main-content-container{
  margin-top: 49px;
  height: calc(100% - 110px);
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-map-container{
  position: fixed;
}
.main-tab-border{
  width: 90%;
  border-bottom: 2px solid #84B1B0;
  margin: 5px 5%;

}

.wall-content{
  position: absolute;
}

.main-content-element{
  width: 100%;
  height: calc(100% - 60px);
  display: inline-block;
  animation-duration: 250ms;
}
@keyframes page1{
  to {margin-left: 0;}
}
@keyframes page0{
  to {margin-left: -100%;}
}
@keyframes page2{
  to {margin-left: 100%;}
}
@keyframes tabPage0{
  to {margin-left: 1.5%;}
}
@keyframes tabPage1{
  to {margin-left: 34.8%;}
}
@keyframes tabPage2{
  to {margin-left: 68.1%;}
}

#main-tab-selected{
  position: absolute;
  display: block;
  top:36px;
  height: 3px;
  background-color: #378281;
  margin-left: 0;
  animation-duration: 250ms;
}
@media (max-width: 641px){
  @keyframes tabPage0{
    to {margin-left: 1.5%;}
  }
  @keyframes tabPage1{
    to {margin-left: 34.8%;}
  }
  @keyframes tabPage2{
    to {margin-left: 68.1%;}
  }

  #main-tab-selected{
    width: 28%;
    left: 1.5%
  }
}

@media (min-width: 642px){
  @keyframes tabPage0{
    to {margin-left: 1.5%;}
  }
  @keyframes tabPage1{
    to {margin-left: 34.8%;}
  }
  @keyframes tabPage2{
    to {margin-left: 68.1%;}
  }

  #main-tab-selected{
    width: 30%;
  }
}
