.main-tab-container {
  background-color: #378281;
  color: #ffffff;
  width: 100%;
  margin-top: -1px;
  position: fixed;
  height: 50px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  font-size: 20pt;
  z-index: 5;
  top: 60px;
}

.main-tab-element {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 33.3%;
  padding: 10px;
}

.main-content-container{
  margin-top: 49px;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-map-container{
  display: block;
  height: calc(100% - 110px);
  width: 100%;
  position: fixed;
}
#main-tab-selected{
  position: absolute;
  display: block;
  top:48px;
  width: 33.3%;
  height: 2px;
  background-color: #ffffff;
  margin-left: 0;
  animation-duration: 250ms;
}
.wall-content{
  position: fixed;
}
@keyframes tabPage0{
  to {margin-left: 0;}
}
@keyframes tabPage1{
  to {margin-left: 33.3%;}
}
@keyframes tabPage2{
  to {margin-left: 66.6%;}
}
.main-content-element{
  width: 100%;
  height: calc(100% - 60px);
  display: inline-block;
  animation-duration: 250ms;
}
@keyframes page1{
  to {margin-left: 0;}
}
@keyframes page0{
  to {margin-left: -100%;}
}
@keyframes page2{
  to {margin-left: 100%;}
}
